<div class="mx-auto m-5 bg-primary-subtle rounded-3" style="width: 400px;">
  <form [formGroup]="formdata" (ngSubmit)="doLogin()">

    <div class="mb-3 p-2">
      <label for="exampleInputEmail1" class="form-label">Username</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="username" placeholder="Enter User Name">
    </div>
    <div class="mb-3 p-2">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" aria-describedby="emailHelp" formControlName="password" placeholder="Enter Password" required>
    </div>
    <div class="d-grid col-6 mx-auto p-2">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
    
  </form>


</div>
