<nav class="navbar navbar-expand-lg " style="background-color: #e5ebee;">
  <div class="container-fluid">
    <i class="fa-solid fa-house-medical-circle-check fa-2xl" style="color:rgb(6, 2, 64);"></i>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"routerLink="about" *ngIf="signin()">Home</a>
        </li>
        <li class="nav-item dropdown " *ngIf="!signin()">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="register" >Register</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="login">Login</a></li>
          </ul>
        </li>
        <li class="nav-item active" *ngIf="signin()">
          <div class="bg-primary-subtle"> <a class="nav-link" style="color:rgb(4, 2, 45)">Hello!! {{sessionuser}}</a></div>
         
        </li>
      </ul>

        <button class="btn btn-outline-primary" type="submit" *ngIf="signin()" (click)="logout()">Logout</button>

    </div>
  </div>
</nav>
<router-outlet></router-outlet>